[Desktop Entry]
Name=Pynes
Comment=A basic mine game
Exec=pynes
Icon=pynes
Type=Application
Categories=Game
StartupNotify=false
Keywords=mines;bombs
X-Desktop-File-Install-Version=0.23
